In [34]:
import pandas as pd
import numpy as np
import seaborn as sns

In [35]:
df = pd.read_csv("energydata_complete.csv")

In [36]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [37]:
df_new = df.drop(columns = ['date', 'lights'])
df_new.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [38]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
norm_df = pd.DataFrame(scaler.fit_transform(df_new), columns = df_new.columns)
predictor_df = norm_df.drop(columns = ['Appliances'])
target = norm_df['Appliances']

In [39]:
df.isnull().any()

date           False
Appliances     False
lights         False
T1             False
RH_1           False
T2             False
RH_2           False
T3             False
RH_3           False
T4             False
RH_4           False
T5             False
RH_5           False
T6             False
RH_6           False
T7             False
RH_7           False
T8             False
RH_8           False
T9             False
RH_9           False
T_out          False
Press_mm_hg    False
RH_out         False
Windspeed      False
Visibility     False
Tdewpoint      False
rv1            False
rv2            False
dtype: bool

## __Question 12__
__From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?__

In [40]:
x  = df[['T2']]
y = df[['T6']]

In [41]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [42]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [30]:
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [31]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, y_pred)
round(r2_score, 2)

0.64

## __Question 13__
__What is the Mean Absolute Error (in two decimal places)?__

In [32]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)
round(mae, 2)

2.82

## __Question 14__
__What is the Residual Sum of Squares (in two decimal places)?__

In [33]:
import numpy as np
rss = np.sum(np.square(y_test - y_pred))
round(rss, 2)

T6    78033.97
dtype: float64

## __Question 15__
__What is the Root Mean Squared Error (in three decimal places)?__

In [43]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
round(rmse, 3)

3.63

## __Question 17__
__Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?__

In [44]:
from sklearn.model_selection import train_test_split
x_train1, x_test1, y_train1, y_test1 = train_test_split(predictor_df, target, test_size = 0.3, random_state= 42)
from sklearn.linear_model import LinearRegression
Lin_reg = LinearRegression()
Lin_reg.fit(x_train1, y_train1)
new_y_pred = Lin_reg.predict(x_test1)
print(new_y_pred)

[0.03321074 0.24415374 0.03418914 ... 0.06831455 0.10027558 0.05735102]

In [18]:
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    w_df = pd.DataFrame(weights).reset_index()
    w_df.columns = ['Features', col_name]
    w_df[col_name].round(3)
    return w_df

In [45]:
Lin_reg_weights = get_weights_df(Lin_reg, x_train1, 'Model_Weight')
print(Lin_reg_weights)

       Features  Model_Weight
0           rv2 -2.219382e+11
1          RH_2 -4.567672e-01
2         T_out -3.219552e-01
3            T2 -2.361994e-01
4            T9 -1.899314e-01
5          RH_8 -1.576020e-01
6        RH_out -7.768452e-02
7          RH_7 -4.455266e-02
8          RH_9 -3.980932e-02
9            T5 -1.566960e-02
10           T1 -3.281051e-03
11  Press_mm_hg  6.853755e-03
12           T7  1.027363e-02
13   Visibility  1.228672e-02
14         RH_5  1.601549e-02
15         RH_4  2.634730e-02
16           T4  2.896918e-02
17    Windspeed  2.919433e-02
18         RH_6  3.808434e-02
19         RH_3  9.595330e-02
20           T8  1.020164e-01
21    Tdewpoint  1.178010e-01
22           T6  2.364816e-01
23           T3  2.907042e-01
24         RH_1  5.536721e-01
25          rv1  2.219382e+11

In [47]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha= 0.4)
ridge_reg.fit(x_train, y_train)
pred_values = ridge_reg.predict(x_test)

## __Question 18__
__Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?__

In [48]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, pred_values))
round(rmse, 3)

3.63

## __Question 19__

__Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?__

In [49]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha= 0.001)
lasso_reg.fit(x_train1, y_train1)
model_weights = get_weights_df(lasso_reg, x_train1, 'Model_Weight' )
model_weights

       Features  Model_Weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [51]:
lasso_reg = Lasso(alpha= 0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

## __Question 20__
__What is the new RMSE with the Lasso Regression (in 3 decimal places)?__

In [52]:
pred_values = lasso_reg.predict(x_test)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, pred_values))
round(rmse, 3)

3.63